.section3{
  font-family: "Roboto";
  background-color: $grey_background;
  margin-top: 2rem;
  padding-bottom: 5rem;
  div{
    width: 80%;
    margin: 0 auto;
    h2{
      text-align: center;
      width: 100%;
    }
    h3{
      color:$grey_fonts;
      font-size: 2rem;
      padding-top:2rem;
    }
    h3::after{
      content:"";
      width: 27.5rem;
      height: 0.8rem;
      background-color: $red;
      display: block;
    }
    .listeVideo{
      display: flex;
      justify-content: space-evenly;
      margin-top: 2rem;
      flex-wrap:wrap;
      flex-basis: 30rem;
      .Rectangle {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        flex-wrap:wrap;
        flex-basis: 30rem;
        height: max-content;
        border-radius: 1rem;
        position: relative;
        video{
          border-radius:1rem;
          width:100%;
        }
        .boutonplay{
          width:20%;
          height:40%;
          background-image: url("../../assets/images/icone_play.png");
          background-size: cover;
          position:absolute;
          z-index:20;
          top:50%;
          left:50%;
          transform: translate(-50%,-125%);
        }
      }
      .Rectanglegray{
        background-color: $grey_button;
        border-radius: 1rem;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        flex-wrap:wrap;
        flex-basis: 30rem;
        p{
          color: white;
          font-size: 1.5rem;
        }
      }
    }

    .infosVideo{
      margin-top: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .imgLike{
      width: 15%;
    }

    .nbLikes{
      margin: 0.4rem;
    }
  }
}

@media screen and (max-width : 800px) {
  .section3{
    div{
      margin-right:auto;
      margin-left:auto;
      > h3:after{
      width:100%;
      }
      >h3{
        padding-bottom:1rem;
      }
      div{
        margin:auto!important;
        padding-top:1rem;
        >.Rectangle{
          width:90vw;
        }
        >.Rectanglegray{
          margin-top:1rem!important;
        }
      }
    }
  }
}