.section1{
  background-image: url("../../assets/images/fond.png");
  background-size:cover;
  background-repeat: no-repeat;
  height:22rem;
  div{
    h2{
      text-align: center;
      font-size:4rem;
      color: white;
      padding-top:4rem;
    }
    div{
      background-color: $red;
      padding:1rem;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
      width: 13%;
      position: absolute;
      right: 0;
      p{
        text-align: right;
        color: white;
      }
    }
  }
}

@media screen and (max-width : 800px) {
  .section1{
    div{
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h2{
        font-size:1.9rem;
      }
      div{
        display:none;
      }
    }
  }
}