.whoweare{
  background-image: url('../images/interrogation.png');
  background-color: $grey_background;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10em;
  padding-bottom: 10em;


  h2{
    text-align: center;
    font-size: 2.5em;
    position: relative;
    color: $grey_fonts;
  }

  h2::after{
    content: "";
    bottom: -0.5rem;
    position: absolute;
    background-color: $red;
    left: 41%;
    width: 18%;
    height:0.8rem;
  }

  .whoweareInfos{
    display: block;
    width: 70%;
    margin-top: 5em;
    margin-left: auto;

    div{
      display: flex;
      align-items: center;

      div{
        display: flex;
        flex-direction: column;
      }
    }
  }

  .nomPsn{
    padding-top: 0.8em;
  }

  .textExplicatif{
    padding-top: 3em;
    padding-right:2em;
  }

  .whoweareAvatar{
    width: 50%;
  }
}

@media screen and (max-width : 800px) {
  .whoweare{
    padding-bottom:1rem;
    h2{
      font-size:2rem;
      &:after{
        width:80%;
        left:10%;
      }
    }
    .whoweareInfos{
      margin-right:auto;
      .textExplicatif{
        padding:2rem 0 2rem 0;
      }
    }
  }
}
